* {
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    width: 100vw; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black; 
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title {
    margin-top: 50px;
    display: flex;
    color: white; 
    justify-content: center;
    align-items: baseline;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.counter{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top: 10px;
}

.note{
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
     display: flex;
     flex-wrap: wrap;
     /* flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 30px; */

}

.line1{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.line2{
    display: flex;
    flex-wrap: nowrap;
    gap:30px;

}